[submodule "PX4-Autopilot"]
	path = PX4-Autopilot
	url = git@github.com:ArjunBadyal/PX4-Autopilot.git
[submodule "Micro-XRCE-DDS-Agent"]
	path = Micro-XRCE-DDS-Agent
	url = git@github.com:eProsima/Micro-XRCE-DDS-Agent.git
