[submodule "PX4-Autopilot"]
	path = PX4-Autopilot
	url = git@github.com:ArjunBadyal/PX4-Autopilot.git
[submodule "T3_ROS2_WS"]
	path = T3_ROS2_WS
	url = git@github.com:ArjunBadyal/T3_ROS2_WS.git
[submodule "Micro-XRCE-DDS-Agent"]
	path = Micro-XRCE-DDS-Agent
	url = git@github.com:eProsima/Micro-XRCE-DDS-Agent.git
